{{!-- include form for enemy count select so users can choose how many enemies they want to go up against  HTML--}}
{{!-- on click of button, hide form, show 'health bar' (bootstrap progress component) CSS & JS--}}
{{!-- set timeout on animation or do like a css animation (keyframe)  (set duration) - CSS --}}
{{!-- after duration, show div of spoils --> treausres xp- HTML, bootstrap card???, JS  --}}

{{!-- form (shown) --}}


<div class="container enemy-page">

    <div class="mission-box char-div">
        <form class="enemy-select-form">
            <h2>Fight Pits</h2>
            <div class="form-group input1">
                <label for="character-select">Character select</label>
                <select class="form-control" id="char-select" name="char-select">

                    {{#each characters}}
                    <option value='{{id}}'>{{name}} ({{race}} {{class}})</option>
                    {{/each}}
                </select>
                <div class="btn-spacing">
                    <button type="button" class="btn btn-warning next">Next</button>
                </div>
            </div>


            <div class="form-group input2">
                <label for="enemy-select">Enemy select</label>
                <select class="form-control" id="enemy-select" name="enemy-select">

                    {{#each enemies}}
                    <option value='{{id}}'>{{name}} ({{race}})</option>
                    {{/each}}
                </select>
                <div class="btn-spacing">
                    <button type="button" class="btn btn-warning hide-enemy-select">Enemy Now</button>
                </div>

            </div>
        </form>
    </div>

    <div class="fight char-div">
        <div class="row">

            {{!-- character --}}
            <div class="col-sm-6">
                <h4 class="character-name" data-id="x"></h4>
                <h6><span class="character-health"></span> / <span class="character-full"></span></h6>
            </div>

            {{!-- enemy --}}
            <div class="col-sm-6 ">
                <h4 class="enemy-name" data-id="y"></h4>
                <h6><span class="enemy-health"> </span> / <span class="enemy-full"> </span></h6>
            </div>

            {{!-- buttons --}}
            <div class="btn-spacing">
                <button type="button" class="btn btn-danger attack">Attack Enemy</button>
            </div>
            <div class="btn-spacing">
                <button type="button" class="btn btn-warning flee">Flee</button>
            </div>
        </div>
    </div>

    <h6 class="xpH6"><span class="strXP"></span>xp added to strength. <span class="healthXP"></span>xp added to health.
    </h6>
    <a href="/adventures" class="btn-spacing return-adv btn btn-primary">Go back to the adventures page.</a>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/fightpits.js"></script>

{{!-- card or div(row/col)= display of none in css [see mission-animation class in css for example of display:none]--}}
{{!-- you defeated x amt of enemies --}}
{{!-- xp gain = X amt --}}
{{!-- would you like to add your XP to (buttons for health, strength, magic) --}}